* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background: #f8f9fa;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: 0.3s ease;
  z-index: 999;
}

nav.scrolled {
  background-color: #111;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00bcd4;
}

.hero {
  height: 100vh;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: white;
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  text-align:justify;
}

main.genres {
  margin-top: 80px;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  max-width: 1100px;
  margin-inline: auto;
}

.genre-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.genre-card h2 {
  margin-bottom: 10px;
  color: #007acc;
}

.genre-card ul {
  margin-top: 10px;
  padding-left: 20px;
}

footer {
  text-align: center;
  background: #111;
  color: white;
  padding: 20px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
  }
}
